<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Kartik Verma">
    <title>shrt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="{{data.protocol}}://{{data.host}}/includes/css/main.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <header class="masthead clearfix">
                        <div class="inner  text-left">
                            <h1 class="masthead-brand">shrtr</h1>
                            <nav class="nav nav-masthead" style="margin-top: 20px;">
                                <a class="nav-link active" href="#">Home</a>
                            </nav>
                        </div>
                    </header>
                    <main class="text-center">
                        <a href="{{data.url}}" target="_blank"><h3 style="margin-bottom: 20px;">{{data.url}}</h3></a>
                        <div class="arrow_box  style="margin-bottom: 20px;"">
                            <h3 class="logo">Converted to </h3>
                        </div>
                        <a href="{{data.protocol}}://{{data.host}}/{{data.sh_url}}" target="_blank"><h3 style="margin-top: 40px;">{{data.host}}/{{data.sh_url}}</h3></a>
                        <img src="https://chart.googleapis.com/chart?cht=qr&chl=http://{{data.sh_url}}&chs=160x160&chld=L|0" style="margin-top: 40px;">
                    </main>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <div class="container">
                <span>
                          Project by <a href="https://vkartik97.github.io" target="_blank">Kartik Verma</a> | <a href="https://github.com/vkartik97" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> vkartik97</a>
                      </span>
            </div>
        </footer>
    </body>

</html>
